<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373490483164-202e3f8e07vqb2d7gms5rbv36q77jhfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373490483164-202e3f8e07vqb2d7gms5rbv36q77jhfi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>373490483164-iasudq8trgp4uid5fmr3n2b4pr118sde.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7NEslBOgmz_P3mb5AcJfBgnVSB7xjyzU</string>
	<key>GCM_SENDER_ID</key>
	<string>373490483164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YNVSolutions.SwiftCause-IOS</string>
	<key>PROJECT_ID</key>
	<string>swiftcause-app</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftcause-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373490483164:ios:be9d2c155845f16e555919</string>
</dict>
</plist>